html {
  background-color: skyblue;
}

.Cart {
  width: 85%;
  padding: 1%;
  margin: auto;
  margin-top: 5%;
  background: white;
  border-radius: 20px;
  box-shadow: 1px 2px 3px 0px black;
  display: flex;
  flex-direction: column;
}

.Cart-title {
  border-bottom: 1px solid black;
  margin: 4%;
  font-weight: 300;
}

.Cart h2 {
  padding-right: 10%;
  text-align: right;
}

.Cart .headers {
  margin: 5%;
  display: flex;
  justify-content: space-around;
}

.Cart .headers div {
  width: 25%;
}
